@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+BE+WAL:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --blanche: #fff;
  --Noire: #222;
  --rose: pink;
  --primaire: #007bc4;
  --gri: #888;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: black;
  min-height: 100vh;
  margin: 0;
}
/*PROMO/////////////////////////////////////////////////////////////////////////////*/
.promo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: yellow;
  padding: 10px 0;
  font-size: 14px;
  position: relative;
  font-family: "Lobster Two", sans-serif;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 100px; /* Hauteur maximum pour l'animation */
  opacity: 1;
  overflow: hidden; /* Cache le contenu en dehors de la hauteur maximale */
  white-space: nowrap;
  z-index: 9999;
}

.promo.hide {
  max-height: 0; /* Cache la barre de promotion */
  opacity: 0; /* Rend transparent */
}

.promo .fermer1 {
  cursor: pointer;
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #fff;
}

/* Animation for sliding text */
.promo span {
  display: inline-block;
  position: absolute;
  opacity: 0;
  animation: slide 8s infinite;
}

.promo span:nth-child(1) {
  animation-delay: 0s;
}

.promo span:nth-child(2) {
  animation-delay: 2s;
}

.promo span:nth-child(3) {
  animation-delay: 4s;
}

.promo span:nth-child(4) {
  animation-delay: 6s;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10%,
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  40%,
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* MENU NAV/////////////////////////////////////////////////////////////////////////////////////// */

/* Styles de la barre de navigation */
.nav-container {
  background-color: red;

  padding: 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixe la barre de navigation à une position spécifique */
  top: 0px; /* Positionne la barre en haut de la page */
  width: 100%; /* Assure que la barre occupe toute la largeur */
  z-index: 1000; /* Assure que la barre de navigation est au-dessus des autres éléments */
  transition: padding 0.3s, height 0.3s; /* Smooth transition effect */
}
/* Shrinked state */
.nav-container.shrink {
  padding: 2px 2px; /* Reduced padding for smaller size */
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  margin-top: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
/* Icône du menu */
.icon1 {
  margin-top: 10px;
  display: none; /* Caché par défaut */
  font-size: 28px;
  color: #fff;
  cursor: pointer;
}
.menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.nav_list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav-item {
  margin: 0 15px;
  display: flex;
  color: white;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}
.nav-link:hover {
  color: #ffd700;
  /* Couleur survol */
}
.fermer {
  display: none;
}
/* Styles pour mobile */
@media (max-width: 767px) {
  .menu {
    display: none; /* Masquer le menu par défaut sur les petits écrans */
    position: absolute;
    top: 60px; /* Ajuste la position pour qu'il s'affiche en dessous de la barre de navigation */
    left: 0;
    background-color: #333;
    width: 200px;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Assure que le menu est au-dessus des autres éléments */
  }
  .nav_list {
    flex-direction: column;
  }
  .nav-item {
    margin: 10px 0;
  }
  .icon1 {
    display: block; /* Affiche l'icône du menu sur mobile */
  }
  .menu.active {
    display: flex;
    /* Affiche le menu lorsqu'il a la classe active */
  }
  .fermer {
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: right;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
  }
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */
/*BEGIN///////////////////////////////////////////////////////////////////////*/
.begin {
  background-color: rgba(255, 0, 0, 0.8); /* Rouge profond */
  padding: 60px 20px; /* Espace interne */
  text-align: center; /* Centrer le texte */
  box-shadow: 0 0 10px 10px red; /* Ombre douce */
  border-radius: 10px; /* Coins arrondis */
  margin: 0 auto; /* Centrer la section */
  max-width: 1200px; /* Largeur maximale */
  margin-top: 150px; /* Marge supérieure */
}
@media (max-width:400px){
  .begin{
    max-width: 320px;
  }
}
.begin-site {
  max-width: 800px; /* Largeur maximale pour le texte */
  margin: 0 auto; /* Centrer le contenu */
}

.begin h3 {
  justify-content: space-between;
  font-size: 2rem; /* Taille de police pour le sous-titre */
  color: black; /* Jaune clair pour le sous-titre */
  margin-bottom: 10px; /* Espace en bas */
}

.begin h2 {
  font-size: 2.5rem; /* Taille de police pour le titre */
  color: #ffffff; /* Blanc pour le titre */
  margin-bottom: 20px; /* Espace en bas */
}

.begin p {
  font-size: 2rem; /* Taille de police pour le texte */
  color: yellow; /* Couleur crème pour le texte */
  margin: 0; /* Pas de marge */
}
.begin h1 {
  font-size: 4rem; /* Taille de police pour le message de bienvenue */
  color: #ffcc00; /* Couleur jaune clair pour le texte */
  margin-top: 20px; /* Espace en haut */
  margin-bottom: 10px; /* Espace en bas */
  animation: clignotant 1s infinite alternate, mouvement 3s infinite; /* Ajouter l'animation */
}

/* Animation de clignotement */
@keyframes clignotant {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animation de mouvement */
@keyframes mouvement {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.prese p {
  font-size: 1.2rem; /* Ajuster la taille de police pour le texte de présentation */
  color: #ffffff; /* Couleur blanche pour le texte */
  margin: 10px 0; /* Espace en haut et en bas */
  line-height: 1.6; /* Interligne pour une meilleure lisibilité */
}

/*//////////////////////////////////////////////*/
/* Conteneur principal */
.banniere-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
}
/* Banniere */
.banniere {
  position: relative;
  border: 3px solid #b22222;
  box-shadow: 0px 0 20px 4px #b22222;
  border-radius: 20px;
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: carrousel 15s infinite;
  box-sizing: border-box; /* Inclure les bordures dans la taille */
  margin: 10px;
}
/* Contenu */
.banniere-contenu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
/* Media Queries pour ajuster la hauteur sur les écrans plus grands */
@media (min-width: 768px) {
  .banniere {
    height: 90vh; /* Réduire la hauteur sur tablettes */
  }
}
@media (min-width: 1024px) {
  .banniere {
    height: 90vh; /* Réduire la hauteur sur des écrans de bureau */
    margin: 50px;
  }
}
@media (min-width: 1440px) {
  .banniere {
    height: 80vh;
    /* Réduire encore la hauteur sur les très grands écrans */
  }
}
.gauche {
  text-align: left;
  padding: 20px;
}
.sous-titre {
  color: #b22222; /* Rouge brique */
  font-size: 24px;
  font-weight: bold;
}
h1 {
  font-size: 48px;
  color: #8b0000; /* Rouge foncé */
}
h1 .highlight {
  color: #ff6347; /* Tomate rouge, plus vif pour l'accent */
  font-weight: bold;
}
h5 {
  color: #cd5c5c; /* Rouge indien, plus doux pour le texte secondaire */
  font-size: 18px;
}

/* Style du bouton */
.acheter {
  background-color: #b22222;
  color: var(--blanche);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s;
  font-size: 1.8rem;
  animation: clignote 500ms infinite alternate;
  text-decoration: none;
}
.acheter:hover {
  background-color: #b22222;
}
@keyframes clignote {
  0% {
    box-shadow: 0 0 40px var(--primaire);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 40px #b22222;
    transform: scale(1.1);
  }
}
/* Crousol //////////////////////////////////////////////////////////////////////////////////// */
/* Styles spécifiques pour le carrousel Bootstrap */
/* Keyframes for background images animation */
@keyframes carrousel {
  0% {
    background-image: url("images/3.jpg");
  }
  20% {
    background-image: url("images/5.jpg");
  }
  40% {
    background-image: url("images/10.jpg");
  }
  60% {
    background-image: url("images/2.jpg");
  }
  80% {
    background-image: url("images/14.png");
  }
  100% {
    background-image: url("images/3.jpg");
  }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Section Produits */
.section {
  padding: 10rem 0 0;
  margin: 20px;
}
.service {
  border: 1px solid #ccc;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
}
.service .icon {
  background-color: #8b0000;
  height: 80px;
  width: 80px;
  position: relative;
  border-radius: 50%;
}
.service .icon i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  color: var(--blanche);
  transform: translate(-50%, -50%);
}
.service h4 {
  margin-bottom: 0.3rem;
  text-align: center;
  color: var(--blanche);
}
.service .text {
  font-size: 1.5rem;
  color: #777;
  text-align: center;
}
.titre {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
}
.titre h1 {
  font-weight: 400;
}
.titre span {
  color: var(--primaire);
}
.centre-produit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  margin-bottom: 5rem;
}
.produit {
  text-align: center;
  padding-bottom: 1rem;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.produit :hover {
  box-shadow: 12px 15px 10px rgba(0, 0.2, 0, 0.1);
}
.produit img {
  transition: all 500ms ease-in-out;
}
.produit :hover img {
  transform: scale(1.2);
}
.produit .img-cover {
  overflow: hidden;
}
.produit .rating {
  color: var(--primaire);
}
.produit .rating i:last-child {
  color: var(--Noire);
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //TRARIFFF///////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Section principale */
.tarif-section {
  padding: 20px;
  border: 1px solid darkred;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  max-width: 1200px;
    box-shadow: 0 0 15px 15px red;
  margin-top: 200px;
  margin-bottom: 150px;
  width: 88%;
}
@media (max-width:400px){
  .tarif-section{
    max-width: 320px;
  }
}
/* Titre et description */
.tarif-description h5 {
  color: #ff7f50;

  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.tarif-description h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: darkred;
}

.tarif-description p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}

/* Grille principale */
.tarifs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Élément de tarif */
.tarif-item {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tarif-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Image */
.tarif-img img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 50%; /* Images en cercle */
  width: 150px; /* Taille de l'image */
  height: 150px; /* Taille de l'image */
  margin: 10px auto; /* Centrer l'image */
}

/* Description */
.tarif-des {
  padding: 15px;
}

.tarif-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tarif-list li {
  margin-bottom: 10px;
  font-size: 14px;
}

.tarif-list a {
  color: rgba(255, 0, 0, 0.8);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.tarif-list a:hover {
  color: #ff7f50;
}

/* Ajustement des éléments au survol */
.tarif-item:hover .tarif-img img {
  filter: brightness(1.1);
}

.tarif-item:hover a {
  color: #ff7f50;
}

/* Media Query pour les téléphones */
@media (max-width: 600px) {
  .tarifs {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux services côte à côte */
    gap: 10px;
  }

  .tarif-item {
    width: 100%; /* Prend toute la largeur disponible */
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Styles pour le formulaire */
.section-form {
  max-width: 900px;

  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  /* Coins arrondis */
  width: 88%; /* Réduire la largeur pour un look plus élégant */
  box-shadow: 0 0 15px 15px red;
  margin-top: 200px;
  margin-bottom: 150px;
}
@media (max-width:400px){
  .section-form{
    max-width: 320px;
  }
}
.section-form form {
  display: grid;
  grid-template-areas: 
    "familyname familyname name name"
    "Pname Pname Pname Pname"
    "adresse adresse adresse adresse"
    "datetime-label datetime datetime datetime"
    "des des des des"
    "email email email email"
    "num num submit submit";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}

.date-label {
  padding: 0;
  grid-area: datetime-label; /* Positionne le label */
  align-self: center; /* Centre verticalement */
}

#datetime {
  grid-area: datetime;
}

#familyname {
  grid-area: familyname;
}
#name {
  grid-area: name;
}
#Pname {
  grid-area: Pname;
}
#num {
  grid-area: num;
}
#adresse {
  grid-area: adresse;
}
#des {
  grid-area: des;
}
#mail {
  grid-area: email;
}

.section-form h1 {
  color: darkred;
  padding-bottom: 1rem;
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}
.blink {
  animation: blink-animation 2s steps(5, start) infinite;
}
/* Définir l'animation de clignotement */
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.section-form p {
  text-align: center; /* Centrer le texte */
  color: #333; /* Couleur du texte (gris foncé pour une lecture confortable) */
  font-size: 1.2rem; /* Taille de la police adaptée */
  font-weight: 800; /* Poids de la police pour un style professionnel */
  line-height: 1.6; /* Espace entre les lignes pour une meilleure lisibilité */
  padding: 10px 20px; /* Ajouter de l'espace autour du texte */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Bordure légère pour souligner le paragraphe */
  background-color: rgba(255, 255, 255, 0.8); /* Couleur de fond blanc transparent */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0 2px 6px rgba(255, 0, 0, 0.5); /* Ombre légère pour un effet de profondeur */
  margin: 15px auto; /* Espace autour du paragraphe */
  max-width: 700px; /* Limite la largeur pour un meilleur affichage */
  margin-bottom: 40px;
}

.section-form input,
.section-form select,
.section-form textarea {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 8px;
  outline: none;
}
.section-form input[type="text"],
.section-form select {
  height: 40px;
}
.section-form textarea {
  height: 55px;
  resize: none;
}


input[type="submit"] {
  background-color: darkred;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  grid-area: submit;
}
input[type="submit"]:hover {
  background-color: #b22222;
}
.section-form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: red;
  text-decoration: none;
}
.section-form a:hover {
  text-decoration: underline;
}
.section-form label {
  font-size: 1.2rem;
  margin-bottom: 5px;
  display: block;
  padding: 0;
}





/* /////////////////////////////////////////////////////////////////////////////////////////// */

/* Style pour la boîte CONTACTEZ NOUS */
/* Style général pour la section de contact */

.contact {
  background-color: #f9f9f9; /* Couleur de fond douce */
  padding: 20px; /* Espacement intérieur */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  max-width: 900px; /* Largeur maximale */
  margin: 20px auto; /* Centrage et marge */
  margin-bottom: 150px;
  width: 88%;
  box-shadow: 0 0 8px 8px darkred;
}
@media (max-width:400px){
  .contact{
    max-width: 320px;
  }
}
/* Style pour le conteneur central */
.contact-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Style pour le titre */
.contact h3 {
  font-size: 30px; /* Taille du texte */
  color: darkred; /* Couleur du texte */
  margin-bottom: 20px; /* Espace en bas */
  text-align: center; /* Centrage du texte */
}
/* Style pour les éléments de contact */
.contact a {
  display: flex;
  align-items: center;
  text-decoration: none; /* Suppression du soulignement */
  color: #333; /* Couleur du texte */
  margin-bottom: 10px; /* Espace entre les éléments */
  padding: 10px;
  border-radius: 4px; /* Coins arrondis */
  transition: background-color 0.3s, color 0.3s; /* Transition douce */
}
/* Style pour les icônes */
.contact a i {
  margin-right: 10px; /* Espace entre l'icône et le texte */
  font-size: 18px; /* Taille de l'icône */
}
/* Changement de couleur au survol */
.contact a:hover {
  background-color: #007bff; /* Couleur de fond au survol */
  color: #fff; /* Couleur du texte au survol */
}
/* Style pour les textes des liens */
.contact a span {
  font-size: 16px; /* Taille du texte */
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Styles de la section Témoignages */
.section.temoignages {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
  align-items: center;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 8px 8px darkred;
  max-width: 900px;
  margin: 0 auto; /* Center the section horizontally */
  margin-bottom: 150px;
  padding: 20px;
  width: 88%;
}
@media (max-width:400px){
  .section.temoignages{
    max-width: 320px;
  }
}
.section.temoignages h2 {
  color: darkred;
  font-size: 32px;
  margin-bottom: 30px;
}
.temoignage {
  background-color: #fff;
  padding: 20px;
  margin: 10px auto;
  width: 80%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.temoignage p {
  font-style: italic;
  color: #555;
}
.temoignage span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: red;
}
/* Styles de la section Certifications */
.section.certifications {
  background-color: #007bff;
  color: white;
  padding: 50px 0;
  text-align: center;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 8px 8px darkred;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  width: 88%;
}
@media (max-width:400px){
  .section.certification{
    max-width: 320px;
  }
}
.section.certifications h2 {
  font-size: 32px;
  margin-bottom: 30px;
}
.certification {
  display: inline-block;
  margin: 10px;
  text-align: center;
}
.certification img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}
.certification img:hover {
  transform: scale(1.1);
}
.certification span {
  display: block;
  font-size: 16px;
}
/* Styles de la section Avant/Après */
.section.avant-apres {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 0 8px 8px darkred;
}
@media (max-width:400px){
  .section.avant-apres{
    max-width: 320px;
  }
}
.section.avant-apres h2 {
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
}
.images-comparaison {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.avant,
.apres {
  width: 45%;
}
.avant img,
.apres img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.avant span,
.apres span {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #007bff;
}
/* Styles de la section Localisation */
.section.localisation {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 8px 8px darkred;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  width: 88%;
}
@media (max-width:400px){
  .section.localisation{
    max-width: 320px;
  }
}
.section.localisation h2 {
  color: #8b0000;
  font-size: 32px;
  margin-bottom: 30px;
}
.section.localisation p {
  color: red;
  font-size: 25px;
  text-shadow: 3px 3px 8px rgba(255, 255, 0, 0.9);

  animation: mouvement 1s infinite; /* Ajouter l'animation */
}
.section.localisation iframe {
  width: 80%;
  height: 450px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Styles de la section FAQ */
.section.faq {
  background-color: #f9f9f9;
  padding: 50px 0;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 8px 8px darkred;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  width: 88%;
}
@media (max-width:400px){
  .section.faq{
    max-width: 320px;
  }
}
.section.faq h2 {
  text-align: center;
  color: #8b0000;
  font-size: 32px;
  margin-bottom: 30px;
}
.faq-item {
  width: 80%;
  margin: 10px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.faq-item h4 {
  color: #007bff;
  cursor: pointer;
}
.faq-item p {
  display: none;
  color: #555;
  margin-top: 10px;
}
.faq-item h4:hover {
  color: #0056b3;
}
.faq-item h4.active + p {
  display: block;
}
/* Styles du pied de page */
.footer {
  background-color: #cd5c5c;
  color: white;
  padding: 30px 0;
  text-align: center;
}
.footer-info {
  margin-bottom: 20px;
}
.footer-info p {
  margin: 0;
  font-size: 14px;
}
.footer-contact a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
}
.footer-contact a:hover {
  text-decoration: underline;
}
.footer-social {
  margin-top: 10px;
}
.footer-social a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}
.footer-social a:hover {
  color: #f1f1f1;
}
/* Style pour l'image du plombier */
.plombier-background {
  width: 100px;
  height: 100px;
  background-image: url("images/5.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 1rem auto; /* Centre horizontalement */
}

/*DJIDJI*/
.creation{
  margin-top: 70px;
    text-align: center; /* Centrer le texte */
    padding: 10px 0; /* Ajouter un peu d'espace autour */
    background-color: pink;/* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte */
    font-size: 14px; /* Taille de la police */
}

.creation a {
    color:deeppink; /* Couleur de lien (par exemple, un rouge tomate) */
    text-decoration: none; /* Supprimer la sous-ligne */
    font-weight: bold; /* Mettre en gras */
    font-family: 'Lobster Two', sans-serif;
    font-size: 16px;
}

.creation a:hover {
    color: #ffd700; /* Couleur au survol */
    text-decoration: underline; /* Souligner au survol */
}

/* /PROPO////////////////////////////////////////////////////////////////////////////////////// */
/* Style global de la section */
.propos-nous {
  background-color: #f7f7f7;
  padding: 50px 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  width: 88%;
  margin-top: 200px;
}
.propos-nous h1 {
  text-align: center;
  color: #8b0000; /* Rouge foncé pour le titre principal */
  font-size: 36px;
  margin-bottom: 20px;
}
.propos-nous h3 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.separator-line {
  border: none;
  height: 2px;
  background-color: #8b0000;
  width: 60%;
  margin: 0 auto 30px;
}
.propo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.presentation,
.mission,
.valeurs {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.presentation:hover,
.mission:hover,
.valeurs:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.presentation h3,
.mission h3,
.valeurs h3 {
  text-align: left;
  color: #007bff; /* Couleur bleu pour les sous-titres */
  font-size: 24px;
}
.presentation p,
.mission p,
.valeurs p {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
}
/* Style pour les petits écrans */
@media (max-width: 768px) {
  .propo {
    flex-direction: column;
  }
  .propos-nous h1 {
    font-size: 28px;
  }
  .propos-nous h3 {
    font-size: 24px;
  }
  .presentation,
  .mission,
  .valeurs {
    padding: 15px;
  }
}
